#header{
width:100%;
background-color:fbaf07;
border:solid 2px;
}
.logo{
width:10%;
}
body{
font-family:sans-serif;
}
#corpo{
width:100%;
height:68.5%;
text-align:right;
}
.image{
width:5%;
}
table{
width:100%;
text-align:center;
}
#rodape{
background-color:ae05fb;
}
.linha{
width:10px;
}
td{
border:solid 3px;
}
.imagem{
padding:7;
}
